.details {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
}

.titulo-detail {
    color: black;
    font-size: 2em;
    margin-bottom: 20px;
}

.img-detail {
    width: 10rem;
    height: auto;
    max-width: 400px;
    margin: 0 auto 20px;
    border-radius: 10px;
}

.descp-detail {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
}

.precio-detail {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

.stock-detail {
    font-size: 1em;
    color: #888;
    margin-bottom: 20px;
}

.btn-card {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-card:hover {
    background-color: #0056b3;
}